<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Document</title>
   <%= stylesheet_link_tag "/bootstrap.css" %>
   <%= stylesheet_link_tag "/bootstrap.min.css" %>
  
  <%= javascript_include_tag "/jquery.min.js", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "/process.js", "data-turbolinks-track" => true  %>

  <%= javascript_include_tag "/bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/jquery_menu.js", "data-turbolinks-track" => true  %>

</head>
<body> 
  <div class="container">
      <div class="row">
           <div id="carousel-id" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
               <li data-target="#carousel-id" data-slide-to="0" class=""></li>
               <li data-target="#carousel-id" data-slide-to="1" class=""></li>
               <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
             </ol>
             <div class="carousel-inner">
               <div class="item">
                  <%= image_tag("1.jpg",
                    alt: "Image description here",
                    class: "img-responsive") %>
                  <div class="carousel-caption">
                    <button type="button" class="btn btn-success">Caption here</button>
                    <p>Caption description here</p>
                  </div>
               </div>
               <div class="item">
                    <%= image_tag("2.jpg",
                    alt: "Image description here", 
                    class: "img-respponsive") %>
                  <div class="carousel-caption">
                    <button type="button" class="btn btn-success">Ruby</button>
                      <p class="content"> là một ngôn ngữ lập trình hướng đối tượng, có khả năng phản ứng. Ruby bị ảnh hưởng từ Ada và Perl với các đặc tính hướng đối tượng của Smalltalk, và cũng chia sẻ một số đặc tính với Python, Lisp, Dylan và CLU. Ruby là ngôn ngữ thông dịch đơn giai đoạn.</p>
                  </div>
               </div>
               <div class="item active">
                     <%= image_tag("3.jpg",
                    alt: "Image description here", 
                    class: "img-respponsive") %>
                    <div class="carousel-caption">
                      <button type="button" class="btn btn-success">Caption here</button>
                        <p>Caption description here</p>
                    </div>
               </div>
             </div>
             <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
             <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
           </div>
      </div>
      <div class="row">
          <div class="title">
         	    <h1 style="margin-top: 10px">
           	      <marquee width="100%" behavior="alternate">
           	        	XÂY DỰNG WEBCRAWLER BẰNG RAILS
    					    </marquee>
  				    </h1>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tochoose">
              <form>
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <b>Chuyên Mục :</b>
                          <select name="" id="">
                            <option value="tintuc">Tin Tức</option>
                            <option value="">Thể Thao</option>
                            <option value="">Du Lịch</option>
                            <option value="">Giáo Dục</option>
                            <option value="">Pháp Luật</option>
                          </select>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <button id ='filter' type="button" class="btn btn-success">Lọc</button>
                    </div>
                </div>

                <div class="row chon">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                           <input name="Vnexpress.net" type="checkbox" value="Vnexpress.net" /><b class="page">Vnexpress.net</b>
                        </div>

                        <div class="row">
                            <input name="baomoi.com" type="checkbox" value="baomoi.com" /><b class="page">baomoi.com</b>
                        </div>
                     
                        <div class="row">
                            <input name="vietnamnet.vn" type="checkbox" value="vietnamnet.vn" /><b class="page">vietnamnet.vn</b>
                        </div>

                        <div class="row">
                             <input name="Thanhnien.vn" type="checkbox" value="Thanhnien.vn" /><b class="page">Thanhnien.vn</b>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                         <div class="row">
                            <input name="24h.com.vn" type="checkbox" value="24h.com.vn" /><b class="page">24h.com.vn</b>
                         </div>
                         <div class="row">
                              <input name="dantri.com.vn" type="checkbox" value="dantri.com.vn" /><b class="page">dantri.com.vn</b>
                         </div>
                         
                         <div class="row">
                              <input name="tuoitre.vn" type="checkbox" value="tuoitre.vn" /><b class="page">tuoitre.vn</b>
                         </div>
                        
                        <div class="row">
                             <input name="saostar.vn" type="checkbox" value="saostar.vn" /><b class="page">saostar.vn</b>
                        </div>
                    </div>     
                </div>                                       
              </form>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
<!--              <h3> TREND </h3><br>
             <p>
              <% @trend=@n.trend.sort_by {|k,v| v}.reverse %>
              <% @trend.each {|i|  %>
              <% if i[1]>3 %> 
                <%=i %>
              <% end  %> 
              <% } %>
              </p> -->



              <table border="2px" >
                <tr class="tieude" style="background: #5cb85c; color: #fff">
                  <th style="text-align: center; width: 35px">
                  <strong>STT</strong></th>
                  <th style="text-align: center; width: 100px">
                  <strong>Trang</strong></th>
                  <th style="text-align: center; width: 210px">
                  <strong>Tiêu Đề</strong></th>
                  <th style="text-align: center; width: 210px">
                  <strong>Content</strong></th> 
                  <th style="text-align: center; width: 100px">
                  <strong>Img</strong></th>
                  <th style="text-align: center; width: 100px">
                  <strong>Link</strong></th>
                  <th style="text-align: center; width: 100px">
                  <strong>Thời Gian</strong></th>
                </tr>
                
                  <% @n.rss_results.map.with_index.each {|i,index|  %>
                    <tr style="text-align: center;">
                    <td><%= index+1 %></td>
                    <td><%= i[:page] %></td>
                    <td><%= i[:title] %> </td>
                    <td>
                      <%= i[:content] %>
                    </td>
                    <td>​ <img src= <%= i[:img] %>  height="80" width="100"> </td>
                    <td> <a href=<%= i[:link] %> >Link</a> </td>
                    <td>​<%= i[:date] %></td>

                  </tr>

                <% } %>

                
              </table>
          </div>
      </div>
      
  </div>

	
</body>
</html>

<!-- tuoitre.vn
24h.com.vn
Vnexpress.net
thethaovanhoa.vn
dantri.com.vn
doisongphapluat.com
baomoi.com
vietnamnet.vn
saostar.vn
Thanhnien.vn -->





