
<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>

  <tr>
    <div class="field">
    <th> Danh Mục</th>
    <td><%= form.text_field :category %></td>
    </div>
  </tr>


  <tr>
    <div class="field">
    <th>Trang</th>
     <td><%= form.text_field :page %></td>
     </div>
  </tr>

   <tr>   
    <div class="field">
    <th>Tiêu đề</th>
     <td><%= form.text_area :title ,cols: 50, rows: 5 %></td>
     </div>
   </tr>   

    <tr>
      <div class="field">
    <th>Hình Ảnh</th>
     <td><%= form.text_area :image ,cols: 50, rows: 5 %></td>
     <td> <img src=<%=@post[:image] %>></td>
     </div>


   </tr>   
<div class="field">
    <th>Liên kết</th>
     <td><%= form.text_area :link ,cols: 50, rows: 5 %></td>
     </div>
   </tr>   


   <tr>   
<div class="field">
    <th>Mô tả</th>
     <td><%= form.text_area :content ,cols: 100, rows: 10 %></td>
     </div>
   </tr>   


   <tr>   
<div class="field">
    <th>Nội Dung</th>
     <td><%= form.text_area :contentVerbose ,cols: 100, rows: 30 %></td>
   </tr> 
 </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
