<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Document</title>
   <%= stylesheet_link_tag "/app/asset/stylesheets/bootstrap.css" %>
   <%= stylesheet_link_tag "/app/asset/stylesheets/bootstrap.min.css" %>
  
  <%= javascript_include_tag "/app/asset/javascripts/jquery.min.js", "data-turbolinks-track" => true  %>
  <%= javascript_include_tag "/app/asset/javascripts/process.js", "data-turbolinks-track" => true  %>

  <%= javascript_include_tag "/app/asset/javascripts/bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/app/asset/javascripts/jquery_menu.js", "data-turbolinks-track" => true  %>

</head>
<body> 
  <div class="container">
      <div class="row">
           <div id="carousel-id" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
               <li data-target="#carousel-id" data-slide-to="0" class=""></li>
               <li data-target="#carousel-id" data-slide-to="1" class=""></li>
               <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
             </ol>
             <div class="carousel-inner">
               <div class="item">
                  <%= image_tag("1.jpg",
                    alt: "Image description here",
                    class: "img-responsive") %>
                  <div class="carousel-caption">
                    <button type="button" class="btn btn-success">Caption here</button>
                    <p>Caption description here</p>
                  </div>
               </div>
               <div class="item">
                    <%= image_tag("2.jpg",
                    alt: "Image description here", 
                    class: "img-respponsive") %>
                  <div class="carousel-caption">
                    <button type="button" class="btn btn-success">Ruby</button>
                      <p class="content"> là một ngôn ngữ lập trình hướng đối tượng, có khả năng phản ứng. Ruby bị ảnh hưởng từ Ada và Perl với các đặc tính hướng đối tượng của Smalltalk, và cũng chia sẻ một số đặc tính với Python, Lisp, Dylan và CLU. Ruby là ngôn ngữ thông dịch đơn giai đoạn.</p>
                  </div>
               </div>
               <div class="item active">
                     <%= image_tag("3.jpg",
                    alt: "Image description here", 
                    class: "img-respponsive") %>
                    <div class="carousel-caption">
                      <button type="button" class="btn btn-success">Caption here</button>
                        <p>Caption description here</p>
                    </div>
               </div>
             </div>
             <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
             <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
           </div>
      </div>
      <div class="row">
          <div class="title">
         	    <h1 style="margin-top: 10px">
           	      <marquee width="100%" behavior="alternate">
           	        	XÂY DỰNG WEBCRAWLER BẰNG RAILS
    					    </marquee>
  				    </h1>
          </div>
      </div>
    <button id="article" type="button" value="1" class="btn" onclick="article('1')">Đăng</button>
    <a href=<%=article_path%> target="_blank" onclick="article('1')" >NEW</a>
    
    <br><%= link_to 'NEW', article1_path %>
     <br><%= link_to 'NEW', article1_path %>
    <br><%= link_to 'NEW', article1_path %>

      <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 tochoose">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <b>Chuyên Mục :</b>
                          <select name="category" id="category">
                            <%@n.category_Arr.each { |k,v| %>
                              <option value=<%=k%> > <%=v%></option>
                            <% } %>
                          </select>
                          <br><br>Số lượng/Page<input type="number" id="quantity" name="quantity" value="1" min="1" max="50">
                    <br><br>
                    Danh Muc
                    <br>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <button id ='filter' type="button" class="btn btn-success">Lọc</button>
                        <p id="loading"></p> 
                    </div>
                </div>

                <div class="row chon">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                    <% @n.pages_Arr.map.with_index { |i,index|%>
                      <% if index <=3%>
                        <div class="row">
                           <input id=<%=i%> name="page[]" type="checkbox" checked value=<%=i%> /><b class="page"><%=i%></b>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <% else%>
                        <div class="row">
                           <input id=<%=i%> name="page" type="checkbox" checked value=<%=i%> /><b class="page"><%=i%></b>
                        </div>
                    <% end %>
                    <% } %>

                    </div>     
                </div>                                       
          </div>

          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <table id ="crawData" border="2px" >
              </table>

          </div>



      </div>
              



  </div>
</body>
</html>

