<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<%= javascript_include_tag "application.js" %>

	<%= stylesheet_link_tag "application.css" %>

<style type="text/css">
.title {
  color: #fff;
  text-align: center;
  background: #5cb85c;
  min-height: 60px;
    }
.tochoose{
  background-color: #5cb85c;
  margin-top: -10px;
}
.row.chon {
  margin-top: 10px;
  margin-left: 10px;
}
.btn-info {
  color: #fff;
}
.btn-primary{
  margin-top: 10px;
}


.title-main{
  color: #ff6600;
  text-align: center;
  font-weight: bold;
}
b.page {
    margin-left: 10px;
    color: #fff;
}
/***form***/
.form-group {
    margin-bottom: 55px;
}


/********menu*******/

.navbar-inverse {
    background-color: #78b43d;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    text-decoration: underline;
}


/*tintuc*/

.row.news {
    margin-top: 10px;
}
.mrT5 {
    margin-top: 15px;
}
.grnBxTit {
    background: #78b43d;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1px;
}
.grnBxCntGrn {
    border-left: #78b43d solid 2px;
    border-right: #78b43d solid 2px;
    border-bottom: #78b43d solid 2px;
    padding: 5px 9px;
}
.pdB5 {
    padding-bottom: 5px;
}
.pdB10 {
    padding-bottom: 10px;
}
.clear {
    clear: both;
}
.nwsTit a{
    color: #333;
    font-weight: 700;
}

.nwsTit a:hover {
    color: #78b43d;
}


/****doanh nhân*/

.bxDn .lstNws article a {
    font-size: 12px;
    line-height: 16px;
}

.lstNws article a {
    text-decoration: none;
    color: #000;
    font-size: 11px;
}
.lstNws article a:hover {
    color: #78b43d;
}


/*****news*****/
.title_new_box {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: #78b43d;
    padding-bottom: 7px;
    border-bottom: 1px dotted #800000;
    margin-bottom: 15px;
    margin-top: 15px;
}

.li_tour_dest a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.li_tour_dest a:hover{
    text-decoration: none;
    color: #78b43d;
    cursor: pointer;
}


/*******sport*******/
.img_hotel_index {
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 86px;
}
.sport {
    margin-top: 10px;
}
.sport a {
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
}
.sport a:hover {
  margin-bottom: 10px;
  font-weight: bold;
  color: #78b43d ;
}



/********giáo dục******/
.box_rss_6_rss24hTop {
    background: #378b36;
    padding: 2px 10px 0 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.lstNws article a {
    font-size: 12px;
}
.icoNws {
    background: url(/images/new.gif) no-repeat top left;
    width: 24px;
    height: 12px;
    display: inline-block;
    margin: 0 0 0 5px;
}
.box_rss_6_rss24hCnt {
    border-left: #378b36 solid 2px;
    border-right: #378b36 solid 2px;
    border-bottom: #378b36 solid 2px;
    background: #fff;
    padding: 5px;
}
.box_rss_6_rss24hCnt .lstNws article a {
    font-size: 12px;
}
.box_rss_6_rss24hTop a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.education a{
  color: #378b36;
  font-weight: bold;
}

/*****footer*****/
.ftMn1Contnr {
    background: #ebebeb;
    padding: 10px;
    border-top: #ddd solid 1px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: -3px;
}
.ftMn1 {
    width: 1004px;
    margin: 0 auto;
    color: #000;
}
.ftMn1 a {
    color: #000;
}
.ftMn1 ul.grpIt {
    margin: 0;
    padding: 0;
}
.grpIt ul, li {
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

img.logo {
    margin-top: -13px;
}

.footer{
    margin-top: 15px;
    background-color: #378b36;
    text-align: center;
    color: #fff;
    min-height: 40px;
}

.title_content {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    color: #78b43d;
    padding-bottom: 7px;
    border-bottom: 1px dotted #800000;
    margin-bottom: 15px;
    margin-top: 15px;
}	

	
</style>
	
  
  
</head>
<body> 
    <section>
	    <div class="row">
           <div id="carousel-id" class="carousel slide" data-ride="carousel">
	            <ol class="carousel-indicators">
	               <li data-target="#carousel-id" data-slide-to="0" class=""></li>
	               <li data-target="#carousel-id" data-slide-to="1" class=""></li>
	               <li data-target="#carousel-id" data-slide-to="2" class="active">
	               </li>
	            </ol>
            <div class="carousel-inner">
               <div class="item">
                  <%= image_tag("1.jpg",
                    alt: "Image description here",
                    class: "img-responsive") %>
                  <div class="carousel-caption">
                    <button type="button" class="btn btn-success">Ruby on Rails</button>
                    <p class="rubyonrails">Ruby on Rails là một Framework mạnh mẽ và đầy thú vị được phát triển trên ngôn ngữ lập trình Ruby.</p>
                  </div>
            </div>
            <div class="item">
                    <%= image_tag("2.jpg",
                    alt: "Image description here", 
                    class: "img-respponsive") %>
                <div class="carousel-caption">
                    <button type="button" class="btn btn-primary">Ruby on Rails</button>
                      <strong>
                          <p class="ruby"> Ruby on Rails là một Framework mạnh mẽ và đầy thú vị được phát triển trên ngôn ngữ lập trình Ruby.</p>
                      </strong>
                </div>
            </div>
            <div class="item active">
                 <%= image_tag("3.jpg",
                alt: "Image description here", 
                class: "img-respponsive") %>
                <div class="carousel-caption">
                  <button type="button" class="btn btn-success">Ruby</button>
                    <p class="content">là một ngôn ngữ lập trình hướng đối tượng, có khả năng phản ứng. Ruby bị ảnh hưởng từ Ada và Perl với các đặc tính hướng đối tượng của Smalltalk, và cũng chia sẻ một số đặc tính với Python, Lisp, Dylan và CLU. Ruby là ngôn ngữ thông dịch đơn giai đoạn</p>
                </div>
               </div>
            </div>
             <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
             <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div>
    </section>
     
    <section class="mrT5">
	    <nav class="navbar navbar-default container-fluid navbar-inverse" role="navigation">
		    <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="images/hii.png" alt="logo"></a>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
					    <li><a  href="#">TRANG CHỦ </a></li>
						<li><a  href="#">TIN TỨC</a></li>
						<li><a  href="#">DU LỊCH</a></li>
						<li><a  href="#">THỂ THAO </a></li>
						<li><a  href="#">GIÁO DỤC</a></li>
						<li><a  href="#">KINH DOANH</a></li>
					</ul>
				</div>
	        </div>
        </nav>
    </section>

    <section class="mrT5 container">
        <div class="row">
		    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			    <header class="grnBxTit">
			        <h4>Tin Tức</h4>
			    </header>
			    <div class="grnBxCntGrn bx4Tbg">
			    	<div class="clF pdB5"></div>
			    	<%Post.where(category: "tintuc").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
			    	<% if index ==0%>
		   			<div class="row">
				        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        	<span class="imgFltT4 imgNwsHm">
		                        <a>
		                        <%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>              
		                        </a>  
				            </span>
				        </div>
		        		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				            <header class="nwsTit">
				                <a> <%= link_to t[:title],     postedinfo_path(t[:id]) %>   </a>
				            </header>
		        		</div>
					</div>

		    		<%else %>

		            <div class="row news">
				        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        	<span class="imgFltT4 imgNwsHm">
				                <a>
				                    <%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>
				                </a>  
				            </span>
				        </div>
				        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			                <header class="nwsTit">
			                    <a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
			                </header>
				        </div>
		            </div>
		            <%end%>
		       
		       <%}%>
		            <div class="clear"></div>
		        </div>        
		    </div> 
		    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		        <div class="title_new_box">DU LICH</div>
				<%Post.where(category: "dulich").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
			    
                <div class="row">
                	<% if index ==0 or index==1%>
	          	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

	          	    	<%= image_tag(t[:image],size: "300x190", :alt => t[:title]) %>

	          	    	 <p class="tieudecon">
	          	    	 	 <b>
	          	    	 	 	<a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>

	          	    	 	 </b>
	          	    	 </p> 
      	    	    </div>
					<%else %>

					<div class="col-md-6 col-sm-6 col-xs-12 col-dest">
                    	<div class="li_tour_dest">
        					<a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
        				</div>
        			</div>
		            <%end%>
		       <%}%>
 		        </div>

		    </div>  
	    </div>
    </section>
   	    
    <section class="bxDn mrT5 container">
        <div class="row">
		    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		    	<header class="grnBxTit"><h4>Kinh Doanh</h4></header>
		    	    <div class="grnBxCntGrn bxDnh">
				    	<div class="clF pdB10"></div>
						<%Post.where(category: "kinhdoanh").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
						<% if index ==0%>
					    <div class="row ">
					    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					    	 	<span class="imgFlt imgNwsSml">

					                <a><%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %> </a>

		            			</span>
					    	</div>
					    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					    		<header class="nwsTit">
		            	           <a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
		            	        </header>
		            	        <%=t[:content] %>        
		            	        <div class="clF pdB10"></div>
					    	</div>
					    </div>

						<%else%>
		                <div class="lstNws">
		                    <article class="lstNml">
			                    <span class="icoSpites"></span>
							<a><%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %> </a>
			                     <a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
		            	        </header>

		                    </article>
		                </div>  
		            </div>
		         <%end%>
		       <%}%>   
		    </div>
		    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	    	    <div class="box_dest">
					<div class="title_new_box">The Thao</div>
					<div class="row">
						<%Post.where(category: "thethao").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
				 		<div class="col-xs-6 col-sm-6 sport">
				 			 <a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a><br>
						  	 <%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>
				  		 	<p><%=t[:content] %>    </p>
				 		</div>
						<%}%>
				 	</div> 

	    	    </div>
		    </div>
        </div>
    </section> 

    <section class="mrT5 container">
	    <div class="row">
	    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
	    	 	<div class="box_rss_6_rss24h">
					<section>
						<div class="box_rss_6_rss24hTop">
						  <a title="ẨM THỰC" href="#" target="_top">Khoa hoc</a>
						</div>
						<div class="box_rss_6_rss24hCnt">
							<%Post.where(category: "khoahoc").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
							<% if index ==0%>
						    <div class="lstNws">
								<article class="lstNml">
									<a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
									<span class="icoNws">
									<%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>
									</span>
								</article>
								<%else%>
								<article class="lstNml">
								<a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
								<span class="icoNws"></span>
								<%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>
								</article>
							</div>
							<% end%>
							<%}%>
						</div>
					</section>

					<section>
							<div class="box_rss_6_rss24hBottom"></div>
					</section>
				</div>
	        </div>

	    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	    	 	<div class="title_new_box">Giao Duc</div>
					<div class="row">
						<%Post.where(category: "giaoduc").limit(@limit).order('created_at desc').map.with_index {|t,index| %>
				 		<div class="col-xs-6 col-sm-6 education">
						  	<%= image_tag(t[:image],size: "120x100", :alt => t[:title]) %>
				  			<a><%= link_to t[:title],     postedinfo_path(t[:id]) %> </a>
				  		 	<p><%=t[:content] %>    </p>
				 		</div>
						<%}%>

					</div>
	    	</div>
	    </div>
    </section>

    <section class=" mrT5 ">
    	<nav class="ftMn1Contnr clF">			
			<div class="ftMn1">
                <ul class="grpIt">
                    <li>
					    <a href="#">
					      <b title="Tin tức">Tin tức</b>
					    </a>
					</li>
					<li>
						<a href="#" title="Bóng đá">
							<b title="Bóng đá">Bóng đá</b>
						</a>
					</li>
					<li>
						<a href="#">
							<b title="Thời trang">Thời trang</b>
						</a>
					</li>
					<li>
						<a href="#">
							<b>Pháp luật</b>
						</a>
						
					</li>
					<li>
						<a href="#">
							<b title="Hi-tech">Hi-tech</b>
						</a>
					</li>
					<li>
						<a href="#">
						   <b title="Tài chính">Tài chính</b>
						</a>
					</li>
					<li>
						<a href="#">
							<b title="Làm đẹp">Làm đẹp</b>
						</a>
					</li>
				    <li>
						<a href="#">
							<b title="Sức khỏe">Sức khỏe</b>
						</a>
					</li>
					<li>
						<a href="#">
							<b title="Sức khỏe">Du lịch</b>
						</a>
					</li>
					<li>
						<a href="#">
							<b title="Sức khỏe">Ẩm Thực</b>
						</a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</nav>
    </section>

</body>
</html>
